html{
    font-size: 18px;
    font-family: Arial;
}

body > header {
    display: grid;
    background-color: #ca8eff;
    color: white;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
}

body > footer {
    margin-top: 100px;
    display: flex;
    background-color: #ca8eff;
    justify-content: center;
}

button{
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    font-size: 16px;
}